<section class="topbar">
    <header class="left-topbar">
        <img src="../assets/smkopi.png" alt="kopi" class="kopi">
        <a href="../index.html" class="kopititle">Coffee Shop</a>
    </header>
    <div class="mid-topbar">
        <ul>
            <li class="pointer">Home</li>
            <li class="pointer active" onclick="navProduct()">Product</li>
            <li class="pointer">Your Cart</li>
            <li class="pointer">History</li>
        </ul>
    </div>
    <div class="right-topbar">
        <img src="../assets/product-css/searchlogo.svg" alt="search">
        <img src="../assets/product-css/chatlogo.svg" alt="chat">
        <img src="../assets/product-css/profilelogo.svg" alt="profile" class="profilelogo">
    </div>
</section>